@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: 
    local('Geo-Regular'),
    url('../fonts/Geo-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Trocchi';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: 
    local('Trocchi-Regular'),
    url('../fonts/Trocchi-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: 
    local('SyneMono-Regular'),
    url('../fonts/SyneMono-Regular.ttf') format('truetype')
}
