/********** OVERLOADING **********/
:root {
  --ani-sans-serif: Geo, Helvetica, sans-serif;
  --ani-serif: Trocchi, Times, serif;
  --ani-monospace: "Syne Mono", Courier, monospace;
}

/* TINYMCE EDITOR */
[id="text"] ~ *,
[id="description"] ~ * {
  margin: auto;
  max-width: 1000px;
  height: 500px;
}

/* ADMIN TABLES */
[id*="products-"] > *,
[id*="likes-"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
