/* FONTS */
@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Geologica-Regular"),
    url("../fonts/Geologica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Trocchi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Trocchi-Regular"),
    url("../fonts/Trocchi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("UbuntuMono-Regular"),
    url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

:root {
  --ani-sans-serif: Geo, Helvetica, sans-serif;
  --ani-serif: Trocchi, Times, serif;
  --ani-monospace: "Ubuntu Mono", Courier, monospace;
}

body {
  --ani-body-max-width: 100%; 
}

/* BLOG */
.blog h3 {
  font-size: 2rem;
}

.article {
  text-align: justify;
}

.article ul {
  list-style: circle;
  padding-left: 40px;
}

.article li {
  margin: 10px 0;
}

.article a {
  color: var(--ani-violet);
}

.article pre {
  --ani-code-overflow: auto;
  background-color: var(--ani-black);
}

/* SHOP */
.shop {
  height: 70px;
  max-width: 212px;
}

.shop > * {
  font-size: 2rem;
}

[itemprop="price"] {
  font-size: 2.5rem;
}

[id="paypal"] {
  margin: auto;
  max-width: 300px;
}

/* GALLERY */
.gallery {
  max-width: 200px;
}

[id="image-set"] img {
  --ve-media-img-max-width: 200px;
}

/* TINYMCE EDITOR */
.tox {
  margin: auto;
  max-width: 1000px;
}
