/* FONTS */
@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Geologica-Regular"),
    url("../fonts/Geologica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Trocchi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Trocchi-Regular"),
    url("../fonts/Trocchi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("UbuntuMono-Regular"),
    url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

:root {
  --ani-sans-serif: Geo, Helvetica, sans-serif;
  --ani-serif: Trocchi, Times, serif;
  --ani-monospace: "Ubuntu Mono", Courier, monospace;
}

/* SHOP */
.figcaption {
  height: 100px;
}

.figcaption h4 {
  font-size: 2rem;
}

[itemprop="price"] {
  font-size: 2.5rem;
}

/* TINYMCE EDITOR */
.tox {
  margin: auto;
  max-width: 1000px;
}

/* ADMIN TABLES */
[id*="products-"] > *,
[id*="likes-"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
