/********** OVERLOADING **********/
:root {
  --ani-sans-serif: Geo, sans-serif;
  --ani-serif: "Rozha One", serif;
  --ani-monospace: "Syne Mono", monospace;
}

[id="text"] ~ *,
[id="description"] ~ * {
  margin: auto;
  max-width: 500px;
  height: 500px;
}

[id*="products-"] *,
[id*="likes-"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fa-brands {
  cursor: pointer;
}
