/********** OVERLOADING **********/
:root {
  --ani-sans-serif: Geo, sans-serif;
  --ani-serif: "Rozha One", serif;
  --ani-monospace: "Syne Mono", monospace;
}

[id*="products-"] > *,
[id*="likes-"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
